body{
  padding-bottom: 400px;
}
.about{
  text-align: center;
  position: relative;
  margin-top: 60px;
}
.wrapper2{
  position: relative;
  top: 180px;
}
.image{
  margin-bottom: 35px;
  display: inline-block;
}
img{
  height: 350px;
  vertical-align: inherit;
}
.text{
  width: 45vw;
  font-size: 20px;
  display: inline-block;
  margin-left: 100px;
  vertical-align: top;
}
@media (max-width: 1142px){
  .about .text{
    margin: 0 auto;
    text-align: justify;
  }
}
@media (max-width: 864px){
  body{
    padding-bottom: 480px;
  }
  .image, .text{
    display: block;
    margin: 0 auto;
    font-size: 18px;
  }
  .image{
    margin-bottom: 40px;
  }
  .image img{
    width: 75vw;
    height: inherit;
  }
  .text{
    width: 70vw;
  }
}
@media (max-width: 375px){
  body{
    padding-bottom: 480px;
  }
}
