body{
  padding-bottom: 300px;
}
.about{
  text-align: center;
  position: relative;
  margin-top: 60px;
}
.wrapper2{
  position: relative;
  top: 180px;
}
.image{
  margin-bottom: 35px;
  display: inline-block;
}
img{
  height: 350px;
  vertical-align: inherit;
}
.text{
  width: 45vw;
  font-size: 20px;
  display: inline-block;
  margin-left: 100px;
  vertical-align: top;
}

