.landing-image{
  background: url('../images/landing.jpg') fixed center bottom;
  background-size: cover;
  height: 100vh;
}
body{
  color: #4d4d4d;
  font-family: 'Abel', sans-serif;
  position: relative;
  padding-bottom: 160px;
}
h1, h2{
  font-family: 'Cedarville Cursive', cursive;
}
.header{
  width: 100vw;
  height: 150px;
  /*position: fixed;*/
}
.header__main{
  width: 100vw;
  height: 140px;
  position: relative;
  background-color: #fff;
}
.header__main h1{
  color: inherit;
  font-size: 60px;
  margin-top: 30px;
}
.header__main a{
  color: inherit;
}
.title{
  text-align: center;
}
.navbar{
  text-align: center;
  position: relative;
  top: 15%;
}
.navbar ul{
  list-style: none;
  padding: 0;
}
.navbar li{
  display: inline-block;
  margin: 0 30px;
  text-transform: uppercase;
  font-size: 18px;
}
.header2{
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 2;
  margin-bottom: 100px;
}
.header2 .header__top{
  display: none;
}
.header2 .header__main{
  height: 100px;
  position: absolute;
  padding-top: 15px;
}
.header2 .title{
  width: 45vw;
  display: inline-block;
}
.header2 .navbar{
  width: 54vw;
  display: inline-block;
  position: relative;
  top: 0;
}
.header2 h1{
  margin-top: 0;
}
.wrapper2{
  position: relative;
  top: 180px;
}
.carousel img{
  height: 400px;
  margin: 10px 2px;
}
.slick-prev, .slick-next{
  font-size: 0;
  line-height: 0;
  position: relative;
  display: block;
  height: 30px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: rgba(77, 77, 77, 0.5);
  border-radius: 1px;
}
.carousel button:hover{
  background: rgba(77, 77, 77, 0.9);
}
.slick-prev{
  top: 225px;
  left: 0px;
  z-index: 1;
  width: 40px;
  height: 67px;
}
.slick-next{
  bottom: 252px;
  left: 97vw;
  z-index: 1;
  width: 40px;
  height: 67px;
}
.slick-prev:before, .slick-next:before {
  font-size: 30px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev::before {
    content: "<";
}
.slick-next::before {
    content: ">";
}
.main{
  height: 450px;
  text-align: center;
  position: relative;
}
.tagline{
  position: relative;
  top: 5%;
}
.tagline h2{
  font-size: 42px;
}
.copy{
  position: relative;
  top: 15%;
  width: 80%;
  min-width: 200px;
  margin: auto;
  font-size: 20px;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 80px;
  background-color: #fff;
  border-top: 1px solid #4d4d4d;
  text-align: center;
}
.footer__wrapper{
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__wrapper li{
  display: inline-block;
  vertical-align: top;
  margin: 15px 25px;
  padding: 0 25px;
}
.footer__email{
  border-right: 1px solid #4d4d4d;
  border-left: 1px solid #4d4d4d;
}
.footer__social ul{
  padding: 0;
}
.footer a{
  color: #4d4d4d;
  text-decoration: italic;
}
@media (max-width: 1037px){
  .header2 h1{
    font-size: 50px;
  }
}
