body{
  padding-bottom: 300px;
}
.services{
  text-align: center;
  position: relative;
  margin-top: 60px;
}
  .services2{
    position: relative;
    top: 180px;
  }
.service{
  margin: 50px auto;
  position: relative;
  width: 85%;
  text-align: left;
}
img{
  width: 488px;
}
.service .image{
  display: inline-block;
}
.text{
  display: inline-block;
  width: 50%;
  float: right;
  text-align: left;
  font-size: 18px;
}
.text h2{
  font-size: 34px;
}
.text h4{
  font-size: 22px;
  border-bottom: 1px solid #4d4d4d;
}

/* ----- Mobile Styling ------ */

@media (max-width: 1148px){
  body{
    padding-bottom: 440px;
  }
  .services{
    width: 75vw;
    margin: 0 auto;
    text-align: center;
  }
  .service{
    width: 95%;
  }
  .service img{
    width: 90%;
  }
  .service .image{
    display: block;
    text-align: center;
  }
  .service .text{
    display: block;
    width: 80%;
    float: none;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 70px;
    font-size: 18px;
  }
  .text h2{
    text-align: center;
  }
}
@media (max-width: 691px){
  .services{
    width: 90vw;
  }
}
