body{
  padding-bottom: 300px;
}
.services{
  text-align: center;
  position: relative;
}
  .services2{
    position: relative;
    top: 180px;
  }
.service{
  margin: 20px auto;
  position: relative;
  width: 70%;
  text-align: left;
}
img{
  height: 250px;
}
.service .image{
  display: inline-block;
}
.text{
  display: inline-block;
  width: 50%;
  float: right;
  text-align: left;
}
.text h2{
  position: relative;
  left: 50px;
}
